.DS_Store
twitter/dist
twitter/node_modules
accounts
apolloQL
twitterQL/dist
twitterQL/node_modules

twitterFederation/services/comments/dist

twitterFederation/services/users/dist

twitterFederation/services/tweets/dist

twitterFederation/services/gateway/dist

node_modules/

